.container .title {
    color: #fff7cc;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text {
    color: #BB342F;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #031b2e;
    padding: 1rem;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div p {
    margin-bottom: 1rem;
}

.movies-container div h2 {
    margin-bottom: 0.3rem;
}

.movies-container div svg {
    color: #BB342F;
}

.movies-container div a {
    background-color: #BB342F;
    border: 2px solid #962b27;
    border-radius: 4px;
    color: #ffffff;
    padding: 0.7rem 0.5rem;
    font-size: 1.3rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
}


.movies-container div a:hover {
    background-color: transparent;
    color: #BB342F;
}