.movie-page {
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.movie-page svg {
    font-size: 1.5rem;
    color: #BB342F;
}

.movie-page .movie-card {
    text-align: center;
}


.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-page .movie-card h2 {
    font-size: 2rem;
}

.movie-page .movie-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 0.5rem;
}

.info {
    margin-bottom: 1rem;
}

.info h3 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    line-height: 1.4rem;
}

.infobtn h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 0.5rem;
    background-color: #BB342F;
    border: 2px solid #962b27;
    border-radius: 4px;
    color: #ffffff;
    padding: 0.7rem 0.5rem;
    font-size: 1.3rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    max-width: 60%;
}